<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Home']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="well">

        <h1>Scheduler</h1>
        <div class="row text-center">
          <div class="col-md-4">
            <div class="btn-group">
              <div class="btn btn-primary btn-custom-dates" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                Previous
              </div>
              <div class="btn btn-custom-dates-outline" mwlCalendarToday [(viewDate)]="viewDate">
                Today
              </div>
              <div class="btn btn-primary btn-custom-dates" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
                Next
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </div>
          <div class="col-md-4">
            <div class="btn-group">
              <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
                Month
              </div>
              <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
                Week
              </div>
              <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
                Day
              </div>
            </div>
          </div>
        </div>
        <br>
        <div [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
            [dayStartHour]="8" [dayEndHour]="19">
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-day-view>
        </div>
      </div>
    </div>
  </div>
</div>