<header id="header">
  <div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo">
      <a href="https://www.windshieldsurgeons.com" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
          <b>Windshield</b>Surgeon</span>
      </a>
    </span>
    <!-- END LOGO PLACEHOLDER -->
  </div>

  <!-- pulled right: nav area -->
  <div class="pull-right">
    <!-- collapse button -->
    <sa-collapse-menu></sa-collapse-menu>
    <!-- fullscreen button -->
    <sa-full-screen></sa-full-screen>
    <!-- end fullscreen button -->
  </div>
  <!-- end pulled right: nav area -->
</header>